<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="theme-color" content="#162447">
    <title>{{title | capitalize}} - {{site.my_name}}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/fa_icons.css">
    <link rel="stylesheet" href="/css/prism-okaidia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
   
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{blurb}}" />
    <meta property="og:image" content="{{site.url}}{{image}}" />
    <meta property="og:url" content="{{site.url}}{{ page.url }}" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@lynchyeatspizza">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{blurb}}">
    <meta name="twitter:image" content="{{site.url}}{{image}}">
    
    {% if env.isProd %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179723365-1"></script>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179723365-1');
    </script>
    {% endif %}

  </head>
  <body>
    {{ content }}
  </body>
</html>