---
layout: body.liquid
---

<article>
<h1 class="posttitle">{{title}}</h1>
<author>
    <a href="{{site.about_me_url}}">{{site.my_name}}</a>
</author>
<div class="date">
    <time>{{page.date | postDate}}</time>
</div>
{{content}}

{% include components/socials_list %}

{% include components/subscribe_form %}
</article>

<h2>Related blogs</h1>
{% include components/related_postlist %}